html,body{
    width:1440px;
}

nav{
    width:1440px;
    height:80px;
    color:white;
}

header{
    width:1440px;
    height: 600px;
    background-color: grey;
}

header p{
    padding-left: 50px;
    padding-top:70px;
}

h1{
    padding-left:50px;
}

h5{
    padding-top: 70px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.logo{
    float: left;
    margin-left: 50px;
    margin-top: 30px;

}
.col-box{
    width: 1440px;
    height: 160px;
    background-color: lightgrey;
    margin-top: 30px;
    text-align: center;
    padding-top: 100px;
}

.col-box1{
    width: 70%;
    height: 250px;
    background-color: darkgrey;
    text-align: center;
    padding-top: 100px;
    margin-top:-60px;
    margin-right: -90px;
    margin-left:40px;
    align:0 auto;

}

.col-box2{
    width: 80%;
    height: 160px;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

.col-box3{
    width: 100%;
    height: 300px;
    background-color: lightgrey;
    text-align: center;
    padding-top: 100px;
    margin-top:-60px;
    margin-right: -40px;
}

.col-box4{
  width: 80%;
    height: 160px;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

.col-box5{
    width: 80%;
    height: 160px;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

.button{
    width:150px;
    height:40px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    float:left;
    border-radius:20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: 30px;
}

.normal{
    border: 2px solid lightblue;
    color:white;
}

.inverted{
    border-radius: 50%;
    border: 2px solid lightblue;
    color: white;
    width:40px;
}

.nav-con{
    width:80%;
    height:50px;
    float:left;
    padding-right:10px;
    margin-top: 35px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float:left;
    height:26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 40px;

}